body {
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.bgcmXnDj9rpr_7FqEpx16wAAAA?w=351&h=626&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-repeat: no-repeat;
    background-attachment:scroll ;
    background-size: cover;
}